<h1>Recovery password</h1>
<h4>Did you forget your password? Enter your email and we will send you an email with instructions</h4>
<form class="flex-col items-baseline" novalidate [formGroup]="userData">
  <mat-form-field class="w-50p">
    <input matInput formControlName="email" placeholder="Email" type="email" autocomplete="email">
  </mat-form-field>
</form>

<div class="flex-col items-baseline">
  <mat-error class="mx-1" *ngIf="error">{{error}}</mat-error>
  <span *ngIf="success" class="msg-success mx-1">Now, you can check your email and follow the instructions</span>
  <button mat-flat-button type="submit" color="accent" (click)="onRecoveryPass()" class="flex-row">
    <mat-icon *ngIf="showSpinner">
      <mat-progress-spinner diameter="20" mode="indeterminate" strokeWidth="11%"></mat-progress-spinner>
    </mat-icon>
    Recovery
  </button>
</div>

