<div *ngIf="userData">
  <h1>Your profile data</h1>
  <div class="flex-col">
    <div class="pb-1" *ngFor="let fields of getList()">
      <span class="capitalize">{{fields}}: </span>
      <span>{{getValue(fields)}}</span>
    </div>
  </div>
</div>