<mat-sidenav-container class="w-screen h-screen">
  <mat-sidenav mode="side" opened class="w-20">
    <app-nav-panel></app-nav-panel>
  </mat-sidenav>
  <mat-sidenav-content class="w-80 p-2">
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>