<h1>Sign in with email and password</h1>
<form class="flex-col items-baseline" novalidate [formGroup]="userlogin">
  <mat-form-field class="w-50p">
    <input matInput formControlName="email" placeholder="Email" type="email" autocomplete="email">
  </mat-form-field>
  <mat-form-field class="w-50p">
    <input matInput formControlName="pass" placeholder="Password" type="password" [type]="hide ? 'password' : 'text'" autocomplete="current-password">
    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <i matSuffix class={{getIconPass()}}></i>
    </button>
  </mat-form-field>
</form>

<div class="flex-col items-baseline">
  <mat-error class="mx-1" *ngIf="error">{{error}}</mat-error>
  <span *ngIf="success" class="msg-success mx-1">Login success!</span>
  <button mat-flat-button type="submit" color="accent" (click)="onLogin()" class="flex-row">
    <mat-icon *ngIf="showSpinner">
      <mat-progress-spinner diameter="20" mode="indeterminate" strokeWidth="11%"></mat-progress-spinner>
    </mat-icon>
    Login
  </button>
</div>

