@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row {
  display: flex !important;
  flex-direction: row;
}

.flex-col {
  display: flex !important;
  flex-direction: column;
}

.content-between {
  justify-content: space-between;
}

.items-baseline {
  align-items: baseline;
}

.content-center {
  justify-content: center;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-20 {
  width: 20vw;
}

.w-80 {
  width: 80vw;
}

.w-50p {
  width: 50%;
}

.p-2 {
  padding: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mx-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.items-end {
  align-items: flex-end;
}

.msg-success {
  color: green;
  font-weight: 500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.capitalize {
  text-transform: capitalize;
}