<h1>Welcome visitor!</h1>

<p>I made this project to show a basic management of users accounts.</p>
<p>The project is developed with Angular 11, using Angular Material and AngularFire (a wrapper for firebase)</p>
<p>There is a list of TODO's for later</p>