<h1>Sign up to test login</h1>
<form class="flex-col items-baseline" novalidate [formGroup]="userRegister">
  <mat-form-field class="w-50p">
    <input matInput placeholder="Name" formControlName="name" type="text">
  </mat-form-field>

  <mat-form-field class="w-50p">
    <input matInput placeholder="Phone" formControlName="phone" type="tel">
  </mat-form-field>

  <mat-form-field class="w-50p">
    <input matInput placeholder="Email" formControlName="email" placeholder="Email" type="email" >
  </mat-form-field>

  <mat-form-field class="w-50p">
    <input matInput placeholder="Password" formControlName="pass" type="password">
  </mat-form-field>
</form>

<div class="flex-col items-baseline">
  <mat-error class="mx-1" *ngIf="error">{{error}}</mat-error>
  <span *ngIf="success" class="msg-success mx-1">Successfully registered!</span>
  <button mat-flat-button type="submit" color="accent" (click)="onRegister()" class="flex-row">
    <mat-icon *ngIf="showSpinner">
      <mat-progress-spinner diameter="20" mode="indeterminate" strokeWidth="11%"></mat-progress-spinner>
    </mat-icon>
    Register
  </button>
</div>